[Unit]
Description=MQTT for
After=network.target mosquitto.service redis.service

[Service]
User=dabloat
Group=www-data
WorkingDirectory=/home/dabloat/eelytics-api
Environment="PATH=/home/dabloat/eelytics-api/venv/bin"
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/dabloat/eelytics-api/venv/bin/python /home/dabloat/eelytics-api/mqtt/mqtt_segregate.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target